<div class="about-us-container">
  <div class="about-us-content">
    <section class="about-us-section">
      <div class="about-us-header">
        <h1>About Us</h1>
        <p>We are making electric mobility accessible</p>
      </div>
    </section>
  
    <section class="mission-section">
      <div class="mission-header">
        <h2>Mission</h2>
        <p>
          Our mission is to lead the world toward sustainable energy while meeting 
          our customers' needs and providing them with the best that the EV world 
          has to offer.
        </p>
      </div>
    </section>
  
    <section class="vision-section">
      <div class="vision-header">
        <h2>Vision</h2>
        <p>
          Make EV mainstream and eliminate dependence on fossil fuel for a better 
          environment.
        </p>
      </div>
    </section>
  </div>
</div>
