// font-family: cerapro;
//@import "sass/bootstrap";
// base fonts
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../src/assets/scss/bootstrap/bootstrap";
@import "../src/assets/scss/variables";
@import "../src/assets/scss/mixins";
@import "../src/assets/scss/common";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto;
  // outline: 1px solid red;  
}

.homebg {
  background: url(assets/images/bannerdesktop.png) no-repeat right top;
  background-size: 50%;

  @include mobile {
    background: url(assets/images/bannermob.png) no-repeat center bottom;
  }
}

*::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b6b6b6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #636363;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #636363;
}



/* HTML: <div class="loader"></div> */
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  width: 40px;
  aspect-ratio: 1;
   --c: linear-gradient(#000 0 0);
   --m: radial-gradient(farthest-side,#000 90%,#0000);
  background: var(--c),var(--m),var(--c);
  background-size: 16px 8px,10px 10px; 
  background-repeat: no-repeat;
  animation: 
    l20-1 1s infinite linear,
    l20-2 4s infinite linear -.4s;
}
@keyframes l20-1 {
  0%,10%   {background-position: calc(50% - 8px) 50%,50% -15px             ,calc(50% + 8px)   50%}
  33%      {background-position: -20px 50%          ,50%  50%              ,calc(100% + 20px) 50%}
  66%      {background-position: -20px 50%          ,50%  calc(100% + 15px),calc(100% + 20px) 50%}
  80%,100% {background-position: calc(50% - 8px)50% ,50%  calc(100% + 15px),calc(50% + 8px)   50%}
}
@keyframes l20-2 {
  0% ,24.99% {transform: rotate(0)}
  25%,49.99% {transform: rotate(90deg)}
  50%,74.99% {transform: rotate(180deg)}
  75%,100%   {transform: rotate(270deg)}
}
// header {
//   nav {
//     @extend .container;
//     @include flbox($wrap: nowrap, $justify: space-between, $align: center);
//     padding: 0px 20px;
//     height: 80px;
//     position: relative;
//     z-index: 1;
//     border-bottom: 1px solid $lorng;
//     margin-bottom: 30px;
//     @include mobile {
//       height: 60px;
//       padding: 0px 10px;
//       border-bottom: 1px solid $lorng;
//       margin-bottom: 0px;
//     }
//     .leftarea {
//       @include flbox($align: center);
//       .hamburger {
//         width: 22px;
//         max-height: 20px;
//         margin-right: 20px;
//         outline: none;
//         cursor: pointer;
//         fill: $gray;
//         display: none;
//         @include mobile {
//           display: block;
//         }
//       }
//       a {
//         outline: none;
//         cursor: pointer;
//         .logo {
//           width: 125px;
//           height: auto;

//           @include mobile {
//             width: 120px;
//             height: 40px;
//           }
//         }
//       }
//     }
//     .searcharea {
//       position: relative;
//       .searchinput {
//         width: 200px;
//         height: 45px;
//         @media (max-width: 768px) {
//           width: 90%;
//         }
//         border-radius: 30px;
//         border: 1px solid $dorng;
//         padding: 10px 20px 10px 60px;
//         line-height: 40px;
//         @include transition();
//         &:before {
//           content: "\f002";
//           margin-left: 9px;
//           margin-right: 6px;
//         }
//         &:hover,
//         &:focus {
//           width: 500px;
//           border: 1px solid $dorng;
//           @include transition();
//         }
//       }
//       .icon {
//         position: absolute;
//         top: 50%;
//         left: 20px;
//         pointer-events: none;
//         -webkit-transform: translateY(-43%) scaleX(-1);
//         transform: translateY(-43%) scaleX(-1);
//         color: $dorng;
//         font-size: 30px;
//         line-height: 20px;
//       }
//       @include mobile {
//         display: none;
//       }
//     }
//     .rightarea {
//       display: block;

//       ul {
//         @include flbox($align: center);
//         margin: 0;
//         li {
//           margin: 0px;
//           list-style: none;
//           padding: 0 55px;
//           line-height: 18px;
//           &:first-child {
//             padding: 0 55px 0 0;
//           }
//           &:last-child {
//             border-left: none;
//             padding: 0 0 0 55px;
//           }
//           a {
//             @include transition();
//             text-transform: uppercase;
//             img {
//               height: 25px;
//             }
//           }

//           @include smdp {
//             padding: 0px 8px;
//           }
//           @include tab {
//             padding: 0px 8px;
//           }

//           @include mobile {
//             padding: 0 20px !important;
//             &:last-child {
//               padding: 0 0 0 20px !important;
//             }
//             a {
//               img {
//                 height: 20px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
// .searchcontainer {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 300px;
//   height: 100px;
//   .search {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 45px;
//     height: 45px;
//     background: $orng;
//     border-radius: 50%;
//     transition: all 1s;
//     z-index: 4;
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
//     // box-shadow: 0 0 25px 0 crimson;
//     &:hover {
//       cursor: pointer;
//     }
//     &::before {
//       content: "";
//       position: absolute;
//       margin: auto;
//       top: 17px;
//       right: 0;
//       bottom: 0;
//       left: 15px;
//       width: 12px;
//       height: 2px;
//       background: white;
//       transform: rotate(45deg);
//       transition: all 0.5s;
//     }
//     &::after {
//       content: "";
//       position: absolute;
//       margin: auto;
//       top: -5px;
//       right: 0;
//       bottom: 0;
//       left: -5px;
//       width: 18px;
//       height: 18px;
//       border-radius: 50%;
//       border: 2px solid white;
//       transition: all 0.5s;
//     }
//   }
//   input {
//     position: absolute;
//     margin: auto;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 50px;
//     height: 50px;
//     outline: none;
//     border: none;
//     // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//     background: $orng;
//     color: white;
//     text-shadow: 0 0 10px $dorng;
//     padding: 0 80px 0 20px;
//     border-radius: 30px;
//     box-shadow: 0 0 15px 0 $dorng, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
//     // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
//     transition: all 1s;
//     opacity: 0;
//     z-index: 5;
//     font-weight: bolder;
//     letter-spacing: 0.1em;
//     &:hover {
//       cursor: pointer;
//     }
//     &:focus {
//       width: 300px;
//       opacity: 1;
//       cursor: text;
//     }
//     &:focus ~ .search {
//       right: -250px;
//       background: #151515;
//       z-index: 6;
//     }
//     &::placeholder {
//       color: white;
//       opacity: 0.5;
//       font-weight: bolder;
//     }
//   }
// }
// login-page style
.headbanner {
  @extend .container;
  max-height: 880px;
  padding: 0;
  margin: 0 auto;
  z-index: 0;
  position: relative;

  @include desktop {
    height: 570px;
  }
  @include smdp {
    padding: 10px 0;
    height: 472px;
    background-size: cover;
  }
  @include mobile {
    padding: 0px 0;
    height: 345px;
    background-size: auto;
  }

  .bannerarea {
    @include flbox($direction: column, $justify: center);
    width: 600px;
    height: 580px;
    position: relative;
    z-index: 1;
    h1 {
      margin: 0 0 10px 0;
      color: $black;
      font-size: 72px;
      line-height: 80px;
      font-weight: 600;
    }
    h4 {
      margin: 0px 0px 10px;
      @extend .sectiontitle;
    }
    p {
      margin: 15px 0px;
      font-size: 16px;
      line-height: 30px;
      color: $black1;
    }

    @include desktop {
      height: 470px;
    }
    @include smdp {
      height: 330px;
      h4 {
        margin: 42px 0px 10px 0px;
        line-height: 20px;
        font-size: 18px;
      }
      h1 {
        margin: 0px 0px 10px 0px;
        line-height: 50px;
        font-size: 28px;
      }
    }
    @include mobile {
      width: $fwidth;
      text-align: center;
      height: 120px;
      background: $lorng1;
      h4 {
        margin: 5px 0px 10px 0px;
        line-height: 20px;
        font-size: 18px;
        letter-spacing: 2px;
      }
      h1 {
        margin: 0px;
        line-height: 48px;
        font-size: 42px;
      }
      p,
      button {
        display: none;
      }
    }
  }
}

.playallst {
  color: $blue1 !important;
  font-weight: 600;
}
.flbox {
  @include flbox();
}
.flboxcol {
  @include flbox($direction: column);
}
main {
  @include flbox($direction: column);
  section {
    margin: 0 0 60px;
    position: relative;
    @include flbox($direction: column, $justify: center);
    &:nth-child(1) {
      margin: 0 0 35px;
      .line {
        margin: 0 auto !important;
      }
    }
    &:nth-child(2) {
      margin: 0 0 60px;
      .line {
        margin: 45px auto 0;
      }
    }
    &:nth-child(3) {
      .line {
        margin: 25px auto 0;
      }
    }
    h3 {
      color: $dorng;
      font-weight: 400;
      font-size: $head2;
      margin: 0 0 20px;
      line-height: 24px;
    }
    @include mobile {
      &:nth-child(2) {
        margin: 0 0 35px;
      }
    }
    .categoryarea {
      @extend .container;
      @include flbox($justify: center);

      .category1 {
        width: 30%;
        margin: 0 2%;
        .imgbox {
          width: 100%;
          position: relative;
          img {
            display: block;
            width: 100%;
            height: auto;
          }
          .olay {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5); /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            transition: 0.5s ease;
            opacity: 0;
            color: white;
            font-size: 20px;
            padding: 20px;
            text-align: center;
            height: 100%;
            @include flbox(
              $direction: column,
              $align: center,
              $justify: center
            );
          }
          &:hover {
            .olay {
              opacity: 1;
            }
          }
        }

        @include mobile {
          width: 45%;
        }
      }
    }
    .newvehiclearea {
      @include flbox($justify: space-between, $wrap: wrap);
      @extend .container;
      h3 {
        width: 100%;
      }
      .vehiclbox {
        width: 22%;
        margin: 0px 0 50px 0;
        position: relative;
        @include flbox($direction: column);
        img {
          display: block;
          max-width: 100%;
          max-height: 200px;
          min-height: 200px;
          object-fit: cover;
        }
        .olay {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.5); /* Black see-through */
          color: #f1f1f1;
          width: 100%;
          transition: 0.5s ease;
          // opacity: 0;
          color: white;
          font-size: 20px;
          padding: 20px;
          text-align: center;
          height: 100%;
          @include flbox($direction: column, $align: center, $justify: center);
        }

        &:hover {
          .olay {
            opacity: 1;
          }
        }

        h4 {
          font-size: $head3;
          margin: 20px 0 20px 0;
        }
        p {
          font-size: $normal;
        }
        @include mobile {
          width: 30%;
          h4,
          p {
            display: none;
          }
        }
      }
      @include mobile {
        h3 {
          width: 100%;
          text-align: center;
          line-height: 40px;
          margin-bottom: 10px;
        }
      }
    }


    .headarea {
      @include flbox($direction: column, $align: center);
      text-align: center;
      width: 100%;
      h2 {
        margin: 0px 0px 30px;
        max-width: 800px;
        width: 100%;
      }
      h4 {
        margin: 0px 0px 20px;
      }
      span {
        font-size: 16px;
        color: $black1;
        margin-bottom: 20px;
      }
    }

    .blogarea {
      @include flbox($justify: center, $align: center);
      @extend .container;
      height: 100%;
      padding: 0px 15px;
      position: relative;

      @include mobile {
        @include flbox($direction: column, $justify: space-between);
        width: 100%;
      }
      .blogleft {
        width: 30%;
        background: none;
        height: 100%;
        display: block;
        @include flbox($justify: center, $align: center);
        @include mobile {
          width: 100%;
        }
        .floatbox {
          border: 1px solid $lorng;
          @include box($pad: 20px 30px, $marg: 0, $back: $white, $width: 350px);
          position: absolute;
          text-align: center;
          min-width: 350px;
          @include flbox($direction: column, $justify: center, $align: center);

          h5 {
            font-size: $normal;
            margin: 0px 0px 15px;
          }
          h4 {
            margin: 0px 0px 25px;
          }
          .imgstyle {
            max-width: 270px;
            width: 85%;
            margin: 0px 0px 25px;
          }
          @include tab {
            @include box(
              $radius: 10px,
              $pad: 20px 20px,
              $marg: 20px 0 20px,
              $width: 310px
            );
          }
          @include mobile {
            @include box($radius: 10px, $pad: 20px 20px, $marg: 20px 0 20px);
            min-width: 95%;
            position: relative;
            left: 0;
            h4 {
              margin: 0px 0px 20px;
              font-weight: 600;
            }
            h5 {
              font-size: $normal;
              margin: 01px 0px 10px;
            }
            .imgstyle {
              width: 75%;
            }
          }
        }
      }

      .blogbox {
        @include flbox($justify: center, $align: center, $direction: column);
        width: 70%;
        h2 {
          width: 650px;
          color: $black;
          line-height: 65px;
          position: relative;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 200px;
            height: 4px;
            background: $orng1;
            border-radius: 5px;
          }
        }
        .innerbox {
          @include box(
            $pad: 10px 30px 10px 50px,
            $marg: 0 0 30px,
            $width: 500px,
            $back: rgba($black, 0.6)
          );
          position: relative;
          max-height: 130px;
          .circlest {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -16px;
            margin-top: -16px;
            background: $orng1;
            color: $white;
            font-size: 18px;
            text-align: center;
            line-height: 32px;
          }
          h4 {
            color: $white;
            font-size: 20px;
            margin: 0;
          }
          span {
            color: $white;
            font-size: 14px;
            font-weight: 300;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        @include smdp {
          margin-left: 100px;
          .innerbox {
            @include box($marg: 0 0 20px 50px, $width: 400px);
          }
        }
        @include tab {
          margin-left: 100px;
          .innerbox {
            @include box(
              $marg: 0 0 20px 40px,
              $width: 350px,
              $pad: 10px 15px 10px 30px
            );
          }
        }
        @include mobile {
          width: 100%;
          max-width: 350px;
          margin: 0;
          h2 {
            width: 100%;
            line-height: 35px;
            margin: 0px 0 25px 0;
            text-align: center;
            &:before {
              bottom: -12px;
              left: 25%;
              width: 50%;
              height: 4px;
            }
          }
          .innerbox {
            @include box($marg: 0 0 20px, $width: 100%);
            &:last-child {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    .insurearea {
      margin-top: 25px;
    }
    @include mobile {
      margin: 0 0 35px 0;
      &:nth-child(1) {
        margin: 0 0 45px 0;
      }
      h3 {
        font-size: $head4;

        line-height: 20px;
      }
      .headarea {
        h2 {
          margin: 0px 0px 10px;
          line-height: 40px;
        }
        h4 {
          margin: 0px 0px 10px;
          line-height: 20px;
          font-size: 16px;
          letter-spacing: 3px;
        }
      }
      .insurearea {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }

  .blogsec {
    height: 500px;
    margin: 0 0 60px;
    @include flbox($justify: center);
    @include mobile {
      margin: 0 0 35px;
      height: auto;
    }
  }
  .blogbg {
    background: url(assets/images/bg.png) no-repeat right center;
    background-size: 70%;
    @include mobile {
      background: url(assets/images/bg.png) no-repeat right bottom;
      background-size: 100%;
    }
  }
  .techsection {
    background: none;
    background-size: 100%;
    text-align: center;
    position: relative;
  }
  .testimonialarea {
    width: 100%;
    max-width: 100%;
    position: relative;
    &:after {
      bottom: -4px;
      left: -30px;
      @extend .dotsbg;
    }
    &:before {
      top: -30px;
      right: -30px;
      @extend .dotsbg;
      transform: rotate(180deg);
    }
    @include tab {
      &:after {
        left: -20px;
      }
      &:before {
        right: -20px;
      }
    }
    .crareadesktop {
      .carousel {
        width: 100%;
        z-index: 1;
        .carousel-inner {
          .carousel-item {
            .tesarea {
              @include flbox($justify: space-between);
              padding: 15px;
            }
          }
        }
      }
    }
    .tarea {
      @include flbox($align: stretch, $justify: space-between);
      padding: 0px;
    }
    @include mobile {
      max-width: 400px;
      &:before {
        top: 0px;
        right: 0px;
      }
      &:after {
        bottom: 25px;
        left: 3px;
      }
      .crarea {
        display: block;
        .carousel {
          width: 100%;
          z-index: 1;
        }
      }
      .tarea {
        @include flbox($direction: column, $align: center, $justify: center);
        padding: 10px 10px 20px;
      }
    }
    .testimonbox {
      @extend .box;
      @include flbox($direction: column, $align: center, $justify: flex-start);
      @include box($pad: 0px, $marg: 0, $width: 28%);
      min-height: 350px;
      position: relative;
      text-align: center;
      z-index: 1;
      .projectimg {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
      }
      .testimonialimg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      h4 {
        color: $black;
        font-size: $large;
        margin: 25px 0 15p 0;
      }
      span {
        color: $black1;
        font-size: $normal;
        line-height: 30px;
        padding: 0px 15px 15px;
      }
      @include tab {
        @include box($pad: 15px 10px, $marg: 0, $width: 30%);
        h4 {
          color: $black;
          font-size: 15px;
          margin: 15px 0 10px 0;
        }
        span {
          font-size: 13px;
          line-height: 22px;
        }
      }
      @include mobile {
        @include box($pad: 15px, $marg: 0, $width: 100%);
        max-width: 350px;
        margin: 0px auto 20px auto !important;
        max-width: 350px;
        h4 {
          margin: 10px 0;
        }
      }
    }
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.98);
  overflow-x: hidden;
  transition: 0.5s;
  &:after {
    bottom: -30px;
    left: -30px;
    @extend .dotsbg;
  }
  &:before {
    top: -30px;
    right: -30px;
    @extend .dotsbg;
    transform: rotate(180deg);
  }
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $black;
    display: block;
    transition: 0.3s;
    &:hover,
    &:focus {
      color: #f1f1f1;
    }
    @include mobile {
      font-size: 20px;
    }
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 99;
    @include mobile {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 10;
    @include flbox($direction: column, $align: start, $justify: center);
    padding: 0px 50px;
    span {
      text-align: left;
      .headst {
        color: $black1;
      }
      .sub {
        margin-left: 30px;
      }
    }
  }
}

.form-style {
  width: 100%;
  .form-group {
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
    .error-text {
      display: none;
      color: #c73223;
      font-size: 12px;
      @include position(absolute, $right: 0px, $bottom: -18px);
    }
    .error ~ .error-text {
      display: block;
    }
    input {
      height: 40px;
    }
    textarea {
      height: 100px;
    }
    .form-control {
      padding: 10px 10px 10px 15px;
      appearance: none;
      background-color: $white;
      &.error,
      &:focus.error {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        @include box-shadow(0 0 10px rgba(#c73223, 0.3));
        border: 1px solid #c73223;
      }
      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
    .form-control:focus {
      @include box-shadow(0 0 0 2px rgba($orng, 0.2));
      border: 1px solid $orng;
      background-color: $white;
    }
    .form-control:focus ~ label {
      font-size: 12px;
      color: $orng;
      top: -12px;
      background: #fff;
    }
    .form-control:valid ~ label {
      font-size: 12px;
      color: $orng;
      top: -12px;
      background: #fff;
    }
    label {
      @include position($position: absolute, $top: 10px, $left: 15px);
      font-size: 14px;
      color: rgba($black, 0.35);
      transition: 0.2s ease all;
      padding: 0 2px;
      @include border-radius(5px);
    }
  }
}

footer {
  width: 100%;
  @extend .orange-bg;
  margin-top: 100px;
  @include flbox($direction: column);
  .footerbox {
    @extend .container;
    @include flbox($align: start, $justify: space-between);

    .queryarea {
      width: 30%;
      position: relative;
      @include mobile {
        width: 100%;
      }
      .querybox {
        width: 100%;
        border: 1px solid $lorng;
        background: $white;
        padding: 50px 30px;
        margin-top: -80px;
      }
    }
    .linkarea {
      width: 65%;
      @include flbox($wrap: wrap);
      margin: 40px 0;
      .linkbox {
        width: 33%;
        @include flbox($direction: column);
        h5 {
          color: $white;
          font-weight: 700;
          font-size: $large;
          margin-bottom: 30px;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            a {
              font-size: 13px;
              color: rgba($lorng, 0.8);
              cursor: pointer;
              outline: none;
              @include transition();
              line-height: 40px;
              &:hover {
                color: $white;
              }
              @include mobile {
                font-size: 12px;
              }
            }
          }
        }
        @include mobile {
          margin: 15px 0;
          h5 {
            margin-bottom: 10px;
          }
        }
      }
      .socialarea {
        width: 100%;
        margin-top: 20px;
        padding: 20px 0;
        @include flbox($justify: space-between, $align: center);
        border-top: 1px solid rgba(1, 211, 241, 0.2);
        border-bottom: 1px solid rgba(1, 211, 241, 0.2);
        .socialbx {
          @include flbox($justify: left, $align: center);
          a {
            margin-right: 30px;
            svg {
              width: 30px;
              height: 30px;
              outline: none;
              fill: rgba($lorng, 0.8);
              &:hover {
                animation-name: rotateIn;
                fill: $white;
              }
            }
            &:last-child {
              margin: 0 !important;
            }
          }
        }
        .callbx {
          @include flbox($align: center, $justify: center);
          border: 1px solid $lorng;
          padding: 5px 8px;
          border-radius: 20px;
          svg {
            width: 30px;
            height: 30px;
            outline: none;
            fill: rgba($lorng, 0.8);
            &:hover {
              animation-name: rotateIn;
              fill: $white;
            }
          }
          span {
            color: $white;
          }
        }
        @include mobile {
          border-bottom: 1px solid rgba($lorng, 0.3);
          border-top: 1px solid rgba($lorng, 0.3);
          @include flbox($justify: space-between, $align: center);
          margin-top: 10px;
          padding: 8px 0;
          .socialbx {
            a {
              margin-right: 20px;
              svg {
                width: 25px;
                height: 25px;
              }
            }
          }
          .callbx {
            font-size: 13px;
          }
        }
      }
    }
    @include mobile {
      @include flbox($justify: center, $direction: column);
      width: 100%;
      .linkarea,
      .queryarea {
        width: 100%;
      }
    }
    .disclaimerarea {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      span {
        font-size: 13px;
        color: $white;
        margin: 10px 0;
      }
      @include mobile {
        text-align: center;
      }
    }
  }
}
/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  // z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  // background-color: whitesmoke;
}

// .modal {
//   display: none;
//   position: fixed;
//   z-index: 1;
//   //padding-top: 10px;
//   left: 0;
//   top: 0;
//   // width: 90%;
//   // height: 50%;
//   overflow: auto;

// }
/* Modal Content */

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1024px;
  // background: none;
}
/* The Close Button */
.modal-backdrop {
  background-color: whitesmoke;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides,
.mySlides1,
.mySlides2 {
  display: none;
}

.cursor {
  cursor: pointer;
}
/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
  }
}
/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 16px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  p {
    margin: 0;
  }
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbs {
  @include flbox($justify: center);
  background: none;
  padding: 20px;
  img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 20px;
  }
}
.clr {
  clear: both;
}
.carousel {
  margin-bottom: 50px;
}
.carousel-item {
  width: 100%;
  .carouselinnerbx {
    width: 100%;
    @include flbox($justify: space-between);
    .carousel-caption {
      color: $black !important;
      position: relative;
      @include flbox($justify: center, $align: left, $direction: column);
      @include position(
        $position: relative,
        $right: 5%,
        $top: 0,
        $left: 5%,
        $bottom: 0
      );
      width: 600px;
      height: 500px;
      position: relative;
      z-index: 1;

      padding: 0;
      margin: 0;
      text-align: left;
      h1 {
        margin: 0 0 10px 0;
        color: $black;
        font-size: 56px;
        line-height: 80px;
        font-weight: 600;
      }
      h4 {
        margin: 0px 0px 10px;
        @extend .sectiontitle;
      }
      p {
        margin: 15px 0px;
        font-size: 16px;
        line-height: 30px;
        color: $black1;
      }
      button {
        width: 190px;
      }
    }
    img {
      height: 475px !important;
      margin-right: 25px;
    }

    @include mobile {
      padding: 0px 0;
      height: 345px;
      background-size: auto;
      @include flbox($justify: center, $direction: column);
      .carousel-caption {
        width: 100%;
        width: $fwidth;
        text-align: center;
        height: 120px;
        background: $lorng1;
        left: 0 !important;
        right: 0 !important;
        h4 {
          margin: 5px 0px 10px 0px;
          line-height: 20px;
          font-size: 18px;
          letter-spacing: 2px;
        }
        h1 {
          margin: 0px;
          line-height: 42px;
          font-size: 34px;
        }
        p,
        button {
          display: none;
        }
      }
      img {
        width: 100% !important;
      }
    }
  }
}
.carousel-inner img {
  width: auto;
  height: auto;
}
.carousel-indicators {
  bottom: -50px;

  li {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;

    margin-right: 15px;
    margin-left: 15px;
    text-indent: -999px;
    cursor: pointer;
    background-color: $dorng;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }

  @include mobile {
    bottom: -18px;
    li {
      width: 15px;
      height: 15px;
    }
  }
}
.carousel-control-prev,
.carousel-control-next {
  color: $dorng;
  width: 5%;
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background: none;
    background-image: none !important;
    svg {
      width: 25px;
      height: 25px;
      fill: $dorng;
      @include mobile {
        fill: $white;
      }
    }
  }
  @include mobile {
    height: 40%;
    top: 50%;
  }
}

.ntab {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid $dorng;
  background-color: #fff;
  li {
    width: 50%;
    .btst {
      background-color: inherit;
      float: left;
      outline: none;
      cursor: pointer;
      padding: 10px 16px;
      transition: 0.3s;
      font-size: 17px;
      color: $dorng !important;
      border: 1px solid $dorng;
      border-radius: 0 !important;
      border-bottom: none;
      width: 100%;
      &:hover {
        background-color: $dorng;
        color: $white;
      }
    }
    .active {
      background-color: $dorng !important;
      color: $white !important;
    }
  }
}

.tabcontent {
  display: none;
  padding: 25px 0 10px 0;
  border-top: none;
}

.headingarea {
  @extend .container;
  @include flbox($direction: column, $justify: left);
  h1 {
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    color: $dorng;
    margin: 15px 0 0;
    position: relative;
    z-index: 9;
    padding: 0px 0px 15px 0px;
    text-align: left;
  }
  .pagesub {
    margin: 0 0 25px 0;
    color: #8e8a8a;
    line-height: 32px;
  }
  .breadcrumb {
    color: #777;
    margin: 0px 0 15px 0;
    padding: 0;
    background: none;
    font-weight: normal;
    li {
      @include flbox($align: center);
      a {
        color: $orng;
      }
      span {
        color: $black1;
        font-family: "Lato", sans-serif;
        font-weight: 400;
      }
    }
  }

  .breadcrumb > li + li:before {
    content: "\f105";
    padding: 0 8px;
    color: #777;
  }

  @include mobile {
    margin: 20px 0 0 0;
    .breadcrumb {
      margin: 0;
    }
  }
}

// .landingarea {
//   @include flbox($justify: space-between, $wrap: wrap);
//   @extend .container;
//   h3 {
//       width: 100%;
//   }
//   .vehiclboxl {
//     width: 30%;
//     margin: 0px 0 50px 0;position: relative;
//     @include flbox($direction: column);
//     img {
//         width: 100%;
//         height: auto;

//     }

//     .infobx {
//         position: absolute;
//         top: 5px; left: 5px;
//         background: rgba(0, 0, 0, 0.7);

//         width: 50%;

//         padding:5px 5px ;
//         text-align: center;
//         min-height: 90px;
//         @include flbox($direction: column, $align: flex-start, $justify: left);

//     h4 {
//       font-size: $head4;color: white;
//       margin:  0; line-height: 30px;
//     }
//     p {
//       font-size: $normal;color: $gray1;margin: 0 0 8px;
//     }
//   span{
//     width: 100%;  @include flbox( $align: flex-start, $justify: left);
//     img{ width: 15px; height: 15px; margin-right: 8px;}
//   }
//   }
//   .icobx {
//     position: absolute;
//     top: 8px; right:8px;

//     width: 120px;

//     text-align: center;
//     min-height: 100px;
//     @include flbox( $align: flex-start, $justify: space-between);

// .share{ background-color: $white ; border-radius: 50%;
// width: 45px; height: 45px;  @include flbox( $align: center, $justify:center );
//  background: url(assets/images/share.svg) no-repeat center center  $white; background-size: 50%;@include transition();
// &:hover{background: url(assets/images/share-o.svg) no-repeat center center  $white;background-size: 50%;@include transition(); }
// }
// .heart{ background-color: $white ; border-radius: 50%;
//   width: 45px; height: 45px;  @include flbox( $align: center, $justify:center );
//    background: url(assets/images/heart.svg) no-repeat center center  $white; background-size: 50%;@include transition();
//    &:hover{background: url(assets/images/hearto.svg) no-repeat center center  $white;background-size:50%;@include transition(); }
//   }
// }
//     @include mobile {

//       width:100%;
//    margin: 0 0 20px;

//     }
//   }
//   @include mobile {  h3 {
//     width: 100%; text-align: center; line-height: 40px;margin-bottom: 10px;
// }}

// }


.boxDiv {
  width: 20%;

  background-color: whitesmoke;
  border-color: #e9ecef;
  margin: auto;
  position: relative;
  transition: width 2s;
}
