<section>
    <div class="categoryarea">
       <div class="category1">
          <h3>Car</h3>
          <div class="imgbox">
          <img src="assets/images/ct1.png" alt="">
          <a routerLink="/Cars" class="olay">Explore</a></div>
       </div>
       <div class="category1">
          <h3>Bike</h3>
          <div class="imgbox">
          <img src="assets/images/ct2.png" alt="">
          <a routerLink="/Bikes"  class="olay">Explore</a></div>
       </div>
    </div>
    <div class="line"></div>
 </section>