<section>
            <div class="newvehiclearea">
                <h3>Recent Vehicles</h3>
               <div class="vehiclbox">
                  <img src="assets/images/pr1.png" alt="" class="image">
                  <div class="olay">Kia EV6</div>
               
                
               </div>
               <div class="vehiclbox">
                  <img src="assets/images/pr2.png" alt=""class="image">
                  <div class="olay">Kia EV6</div>
               </div>
               <div class="vehiclbox">
                  <img src="assets/images/pr3.png" alt=""class="image">
                  <div class="olay">Kia EV6</div>
               </div>
               <div class="vehiclbox">
                  <img src="assets/images/pr4.png" alt=""class="image">
                  <div class="olay">Kia EV6</div>
               </div>
               <div class="vehiclbox">
                  <img src="assets/images/pr3.png" alt=""class="image">
                  <div class="olay">Kia EV6</div>
               </div>
               <div class="vehiclbox">
                  <img src="assets/images/pr6.png" alt=""class="image">
                  <div class="olay">Kia EV6</div>
               </div>
               <div class="vehiclbox">
                  <img src="assets/images/pr2.png" alt=""class="image">
                  <div class="olay">Kia EV6</div>
               </div>
               <div class="vehiclbox">
                  <img src="assets/images/pr6.png" alt=""class="image">
                  <div class="olay">Kia EV6</div>
               </div>
            </div>
            <div class="line"><a href="">more</a></div>
         </section>