<div class="recent-vehicles-container">
   <div class="section-header">
      <h2 class="section-title">Top Vehicles</h2>
   </div>
   <div class="vehicles-grid">
      <div class="vehicle-card" *ngFor="let Cll of toptwowheelerlist" (click)="onSelect(Cll.twId)">
         <div class="vehicle-image-container">
            <img src="{{Cll.path}}" alt="{{Cll.manufacturer}} {{Cll.model}}" 
                 onerror="this.src='assets/images/pr1.png';" class="vehicle-image">
         </div>
         <div class="vehicle-info">
            <div class="vehicle-title">
               {{Cll.manufacturer}} {{Cll.model}}
               <div class="rating">
                  <img src="assets/images/star-g.svg" class="star filled"
                     *ngFor="let item of [].constructor(Cll.selectedRating); let i = index">
                  <img src="assets/images/star-w.svg" class="star empty"
                     *ngFor="let item of [].constructor(Cll.unSelectRating); let i = index">
               </div>
            </div>
            <p class="vehicle-price">{{exShowroomPrice(Cll.exShowroomPrice)}}*</p>
         </div>
      </div>
   </div>
   <div class="view-all-container">
      <a class="view-all-button" routerLink="/Bikes">
         <span>View All</span>
         <div class="icon-container">
            <img src="assets/svg/arrow.svg" alt="View all" class="arrow-icon">
         </div>
      </a>
   </div>
</div>

<div class="recent-vehicles-container">
   <div class="section-header">
      <h2 class="section-title">Recent Vehicles</h2>
   </div>
   <div class="vehicles-grid">
      <div class="vehicle-card" *ngFor="let Cll of recenttwowheelerlist" (click)="onSelect(Cll.twId)">
         <div class="vehicle-image-container">
            <img src="{{Cll.path}}" alt="{{Cll.manufacturer}} {{Cll.model}}" 
                 onerror="this.src='assets/images/pr1.png';" class="vehicle-image">
         </div>
         <div class="vehicle-info">
            <div class="vehicle-title">
               {{Cll.manufacturer}} {{Cll.model}}
               <div class="rating">
                  <img src="assets/images/star-g.svg" class="star filled"
                     *ngFor="let item of [].constructor(Cll.selectedRating); let i = index">
                  <img src="assets/images/star-w.svg" class="star empty"
                     *ngFor="let item of [].constructor(Cll.unSelectRating); let i = index">
               </div>
            </div>
            <p class="vehicle-price">{{exShowroomPrice(Cll.exShowroomPrice)}}*</p>
         </div>
      </div>
   </div>
   <div class="view-all-container">
      <a class="view-all-button" routerLink="/Bikes">
         <span>View All</span>
         <div class="icon-container">
            <img src="assets/svg/arrow.svg" alt="View all" class="arrow-icon">
         </div>
      </a>
   </div>
</div>