<div class="blogssec">
    <div class="blogssec-title">
        Blogs
    </div>
    <div class="blogcards">
       
        <div class="blog-card" (click)="blog()">
            <img src="assets/images/blogs/1.jpg" alt="Blog Image" class="blog-image" />
            <div class="blog-content">
                <div class="blog-title">Definition and Overview of EVs</div>
                <div class="blog-author">By Kunal</div>
                <div class="blog-date">24TH JUN 2024</div>
                <div class="blog-excerpt">Electric vehicles, commonly referred to as EVs, are automobiles powered by electric motors 
                    instead of traditional internal combustion engines....
                    <a href="/Blog" class="read-more">Read more</a>
                </div>

                <!-- <div class="blog-tags">
                    <span class="tag">Tag 1</span>
                    <span class="tag">Tag 2</span>
                </div> -->
            </div>
        </div>
        <div class="blog-card" (click)="blog2()">
            <img src="assets/images/blogs/2.jpg" alt="Blog Image" class="blog-image" />
            <div class="blog-content">
                <div class="blog-title">A Beginner's Guide to Owning an Electric Vehicle: What You Need to Know</div>
                <div class="blog-author">By Author Name</div>
                <div class="blog-date">03TH JAN 2024</div>
                <div class="blog-excerpt">The electric vehicle revolution has been gaining momentum in recent years, with more and more people opting for these environmentally friendly....
                    <a href="/Blog2" class="read-more">Read more</a>
                </div>
                <!-- <div class="blog-tags">
                    <span class="tag">Tag 1</span>
                    <span class="tag">Tag 2</span>
                </div> -->
            </div>
        </div>
        <div class="blog-card" (click)="blog3()">
            <img src="assets/images/blogs/3.jpg" alt="Blog Image" class="blog-image" />
            <div class="blog-content">
                <div class="blog-title">Debunking Myths About Electric Vehicles: Separating Fact from Fiction</div>
                <div class="blog-author">By Author Name</div>
                <div class="blog-date">13TH OCT 2024</div>
                <div class="blog-excerpt">Electric vehicles (EVs) are gaining popularity worldwide as a sustainable and efficient transportation option....
                    <a href="/Blog3" class="read-more">Read more</a>
                </div>
                <!-- <div class="blog-tags">
                    <span class="tag">Tag 1</span>
                    <span class="tag">Tag 2</span>
                </div> -->
            </div>
        </div>
    </div>
</div>