<section class=" testimonialsec ">
    <div class="container ">
     

          
            <h3 data-aos="fade-up" >Blogs
            </h3>

        <div class="testimonialarea ">
            <div class="tarea">

                <div class="testimonbox " data-aos="zoom-in-right"> <img class="projectimg" src="assets/images/blog01.png" />
                   <h4>Infra Development</h4>
                   <span>Insanity: doing the same thing over and over again and expecting different results.</span>
                </div>


                <div class="testimonbox " data-aos="zoom-in">
                    <img class="projectimg" src="assets/images/blog02.png" />
                    <h4>Monetization </h4>
                    <span>It is better to keep your mouth closed & let people think you are a fool than to open it & remove all doubt.</span>
                      </div>


                <div class="testimonbox " data-aos="zoom-in-left">
                    <img class="projectimg" src="assets/images/blog02.png" />

                  <h4>Turnkey Projects</h4>
             <span>As long as Wanxiang exists, we will pursue our dream to make electric cars, whatever the obstacles.</span>
            </div>

            </div>
        </div>

        


    </div>
    
</section>

<section >
<div class="container ">
    <div class="line"><a href="">See all Blogs</a></div>
</div>
</section>