<div class="blog-container">
  <!-- Display each visible blog -->
  <div class="blog" *ngFor="let blog of visibleBlogs">
    <h3>{{ blog.title }}</h3>
    <div class="introduction">
      <img [src]="blog.imageUrl" alt="{{ blog.title }}" class="blog-image">

      <h4>{{ blog.sectionTitle }}</h4>
      <p>{{ blog.content }}</p>
      <h4>{{ blog.heading }}</h4>
      <p>{{ blog.para }}</p>
    </div>

    <!-- Image with overlay -->
    <div class="viewBlog" routerLink="/blog.id">
      <div class="viewcontainer">
         <div class="bgg" (click)="onSelect(blog.id)">View Full Blog</div>
      </div>

    <!-- <div class="blog-image-container">
      <button class="read-more-btn" (click)="onReadMore(blog.id)">Read More</button>
    </div> -->
  </div>
</div>
