.header .nav {
  margin-left: 16%;
  margin-right: 16%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header .nav .leftarea img {
  width: 150px;
  height: auto;
}

.header .nav .rightarea .search-box {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 40px;
  padding: 0 10px;
  -webkit-box-shadow: inset 0px 0px 14px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 14px -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 14px -2px rgba(0, 0, 0, 0.1);
}

.header .nav .rightarea .search-box input {
  width: 100%; /* Default width for desktop */
  border: none;
  height: 100%;
  background: none;
}

.header .nav .rightarea .search-box input:focus {
  background: none;
  outline: none;
}

.header .nav .rightarea .search-box button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .nav .rightarea .search-box img {
  height: 20px;
  width: 20px;
}

.header .nav .rightarea .search-box .suggestion-title {
  padding: 10px 5px 10px 20px;
  font-size: 12px;
  color: #7a7a7a;
  text-transform: uppercase;
}



.header .nav .rightarea .search-box .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  height: auto;
  max-height: 330px;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  // display: none;
}

.header .nav .rightarea .search-box:focus .suggestions,
.header .nav .rightarea .search-box:active .suggestions {
  display: block;
}

.header .nav .rightarea .search-box .suggestion-item {
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  padding: 10px 5px 10px 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.header .nav .rightarea .search-box .suggestion-item .trending-icon {
  margin-right: 10px;
}

.header .nav .rightarea .search-box .suggestion-item:hover {
  background-color: #f0f0f0;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b6b6b6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #636363;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #636363;
}

// @media (max-width: 768px) {
//   .header .nav {
//     top: 0;
//     margin-left: 20px;
//     flex-direction: row;
//     gap: 10px;
//     margin-right: 20px;
//     margin-bottom: 10px;
//   }

//   .header .nav .leftarea {
//     width: 100%;
//   }

//   .header .nav .leftarea img {
//     width: 100px;
//     height: auto;
//   }

//   .header .nav .rightarea {
//     width: 100%;
//   }

//   .header .nav .rightarea .search-box {
//     width: 100%;
//   }

//   .header .nav .rightarea .search-box input {
//     width: 100%;
//   }
// }
