<header>
    <nav>
       <!-- Brand/logo -->
       <div class="leftarea">
          <a href="index.html">
          <img class="logo" src="assets/images/evlogo.svg" /> 
        </a>
       </div>
        <div class="searcharea desbar">

                   <input type="text" class="form-control searchinput" id="usr">
                   <span class="icon">
                       <i class="la la-search"></i>
                   </span>
               </div>
       <div class="rightarea">
          <ul>
              <li class="mbar">
               
             <a class="">
                   <div class="searchcontainer">
                      <input id="search" type="text" placeholder="Search...">
                      <div class="search"></div>
                    </div>
                </a> 
             </li>
             <li>
                <a class=" " href="index.html">
                <img src="assets/images/love.svg"/>
                </a>
             </li>
             <li>
                <a class=" " href="index.html">
                <img src="assets/images/profile.svg"/>
                </a>
             </li>
             <!-- <li *ngIf="!isLogin">
               <button class="btorng"  type="button" (click)="onSubmit(isLogin)">LogOut</button>
            </li>
            <li *ngIf="isLogin">
               <button class="btorng"  type="button" (click)="onSubmit(isLogin)">LogIn</button>
            </li> -->
          </ul>
       </div>
    </nav>
 </header>