<div class="container">
  <header>
    <h1>{{ title }}</h1>
  </header>

  <section class="introduction">
    <h2>{{ sectionTitle }}</h2>
    <img src="assets/images/blogs/1.jpg" alt="Electric Vehicle" class="img-fluid rounded ">
    
    <article>
      <h3>{{ subSectionA.title }}</h3>
      <p>{{ subSectionA.content }}</p>
    </article>

    <article>
      <h3>{{ subSectionB.title }}</h3>
      <p>{{ subSectionB.content }}</p>
    </article>  
  </section>

  <section class="introduction">
    <h2>{{ sectionTitle2 }}</h2>
    <img src="assets/images/blogs/2.jpg" alt="Electric Vehicle" class="img-fluid rounded">
    
    <article>
      <h3>{{subSectionC.title }}</h3>
      <p>{{ subSectionC.content }}</p>
    </article>

    <article>
      <h3>{{subSectionD.title }}</h3>
      <p>{{ subSectionD.content }}</p>
    </article> 
    <article>
      <h3>{{subSectionE.title }}</h3>
      <p>{{subSectionE.content }}</p>
    </article>
    <article>
      <h3>{{subSectionF.title }}</h3>
      <p>{{subSectionF.content }}</p>
    </article>

  </section>

  <section class="introduction">
    <h2>{{ sectionTitle3 }}</h2>
    <img src="assets/images/blogs/3.jpg" alt="Electric Vehicle" class="img-fluid rounded">
    
    <article>
      <h3>{{subSectionG.title }}</h3>
      <p>{{subSectionG.content }}</p>
    </article>

    <article>
      <h3>{{subSectionH.title }}</h3>
      <p>{{subSectionH.content }}</p>
    </article>  
    <article>
      <h3>{{subSectionI.title }}</h3>
      <p>{{subSectionI.content }}</p>
    </article> 
  </section>


  <section class="introduction">
    <h2>{{ sectionTitle4 }}</h2>
    <img src="assets/images/blogs/4.jpg" alt="Electric Vehicle" class="img-fluid rounded">
    
    <article>
      <h3>{{ subSectionJ.title }}</h3>
      <p>{{ subSectionJ.content }}</p>
    </article>

    <article>
      <h3>{{ subSectionK.title }}</h3>
      <p>{{ subSectionK.content }}</p>
    </article>  
    <article>
      <h3>{{ subSectionL.title }}</h3>
      <p>{{ subSectionL.content }}</p>
    </article>  
  </section>


  <section class="introduction">
    <h2>{{ sectionTitle5 }}</h2>
    <img src="assets/images/pr1.jpg" alt="Electric Vehicle" class="img-fluid rounded">
    
    <article>
      <h3>{{ subSectionM.title }}</h3>
      <p>{{ subSectionM.content }}</p>
    </article>

    <article>
      <h3>{{ subSectionN.title }}</h3>
      <p>{{ subSectionN.content }}</p>
    </article>  
    <article>
      <h3>{{ subSectionO.title }}</h3>
      <p>{{ subSectionO.content }}</p>
    </article> 

  </section>
  <section class="introduction">
    <h2>{{ sectionTitle6 }}</h2>
    <img src="assets/images/blogs/5.jpg" alt="Electric Vehicle" class="img-fluid rounded">
    
    <article>
      <h3>{{ subSectionP.title }}</h3>
      <p>{{ subSectionP.content }}</p>
    </article>

    <article>
      <h3>{{ subSectionQ.title }}</h3>
      <p>{{ subSectionQ.content }}</p>
    </article>  
    <article>
      <h3>{{ subSectionR.title }}</h3>
      <p>{{ subSectionR.content }}</p>
    </article> 
    
  </section>
</div>
