body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  margin: auto;
  height: auto;
}

.grid-layout {
  display: grid;
  grid-template-columns: 70% 30%; /* 70% for content, 30% for sidebar */
  gap: 20px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}

p {
  text-align: justify;
  margin: 0; /* Ensure consistent spacing for paragraphs */
}

header {
  text-align: center;
  padding: 30px 0;
}

header h1 {
  font-size: 2.5em;
  color: #6305A8;
}

.introduction {
  padding: 15px;
}

.introduction h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

article {
  margin: 20px 0;
}

article h3 {
  color: black;
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: bold;
}

article p {
  line-height: 1.6;
  font-size: 1.1em;
}

.box {
  width: 100%; /* Ensure full width within the grid */
  padding: 5%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.vehicleBox {
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 90%;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s ease; /* Smoother hover effect */
}

.vehicleBox:hover {
  transform: scale(1.05); /* Slightly larger hover effect */
}

.vehicleBox img {
  width: 100%;
  height: 200px; /* Set a fixed height for consistent layout */
  object-fit: cover;
}

.infobox {
  padding: 10px; /* Add padding for better content spacing */
  transition: all 0.5s ease;
}

.vehicle-title {
  font-size: 18px; /* Adjust font size for better readability */
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.infobox p {
  color: #27ae60;
  font-size: 16px;
  margin: 5px 0;
}

.infobox span {
  display: flex;
  margin: 5px 0;
}

.infobox span img {
  width: 14px; /* Slightly increase star size */
  height: 14px;
  margin-right: 3px;
}

/* Adjust grid for better structure */
.grid-layout {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 0px 30px;
  // height: 100%;
}

.sidebar {
  position: sticky;
}
/* Mobile Styles */
@media (max-width: 768px) {
  .grid-layout {
    display: block; /* Stack content and sidebar vertically on mobile */
  }

  header h1 {
    font-size: 2em;
  }

  .introduction h2 {
    font-size: 1.5em;
  }

  article h3 {
    font-size: 1.3em;
  }

  .box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(185px, 1fr));
    overflow: visible;
    overflow-x: auto;
    gap: 10px;
    padding: 20px 0;
    scroll-behavior: smooth;
  }

  .vehicleBox {
    flex:1;
    min-width: 0;
    width: 185px;
  }

  .vehicleBox img {
    width: auto;
    height: 173px;
    object-fit: cover;
  }

  .infobox p {
    font-size: 14px; /* Smaller font size on mobile */
  }

  .infobox span {
    display: none;
  }

  .infobox span img {
    width: 12px; /* Adjust star size for smaller screens */
    height: 12px;
  }
}

.brands-container {
  max-width: 100%;
  // margin-left: 16%;
  // margin-right: 16%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

.brands-header {
  font-size: 25px;
  color: #6305A8;
  font-weight: 600;
  text-align: start;
  padding-bottom: 10px;
}

.brands-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brands-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 20px;
}

.brand-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-item img {
  width: 50px;
  aspect-ratio: 3/2;
  object-fit: contain;
  // mix-blend-mode: color-burn;
}

@media (max-width: 768px) {
  .brands-container {
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px 0px;
  }

  .brands-header {
    font-size: 20px;

    margin-left: 5%;
  }

  .brands-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .brand-item img {
    width: 60px;
  }

  .brands-list {
    display: grid; // Change to grid layout
    grid-template-columns: repeat(
      auto-fill,
      minmax(65px, 1fr)
    ); // Adjust column size
    gap: 20px;
  }
}
