 // colors
 $white: #fff;
 $black: #000;
 $black1: #6A6A6A;
 $black2: #333;
 $orng: #FF7517;
 $orng1: #F58634;
 $dorng: #E65100;
 $gray: #B9B9B9;
 $gray1: #E2E2E2;
 $lorng:#F7D7C1;
 $lorng1:#FFF9F7;
 $blue1:#00569B;
 $blue2:#0094BB;
 $blue3:#01D3F1;
 $blue4:#81E4EF;
 $lblue:#EAFCFB;
 $fwidth: 100%;
 $hwidth: 50%;
 $otwidth: 33%;
 $qwidth: 10%;
 $small: 12px;
 $normal: 14px;
 $large: 18px;
 $head5: 20px;
 $head4: 22px;
 $head3: 24px;
 $head2: 32px;
 $head1: 42px;
 //size
 $desktop: 1366px;
 $smalldesktop: 1024px;
 $tab: 800px;
 $mob: 768px;
 $ip: 480px;


 $img-path: "../images/";