
.category_navbar {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #e9e9e9;
  }
  
  .category_navbar div {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-weight: 400;
  }
  
  .category_navbar .active {
    font-weight: 700;
    color: #6305A8;
    text-decoration: underline;
    text-underline-offset: 23px;
    text-decoration-thickness: 5px;
  }
  @media only screen and (max-width: 600px) {
    .category_navbar {
      padding-left: 5%;
      padding-right: 5%;
      border-bottom: none;
    }
  
    .category_navbar div {
      font-size: 15px;
    }

    .category_navbar .active {
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
    }
}    