<div class="category">
   <div class="category_containers">
      <app-categorynavbar></app-categorynavbar>
      <div *ngIf="loading" class="loading">
         <div class="loader"></div>
      </div>
      <div *ngIf="!loading" class="MainDetails">
         <div class="mainDetails">
            <div class="gallery-container">
               <div class="main-image-container">
                  <img src="{{productListModel?.path}}" alt="" onerror="this.src='assets/images/pr4.png';">
               </div>
               <div class="thumbnails-container">
                  <div class="thumbnails">
                     <div class="thumbnail" (click)="onImages()">
                        <img src="{{productListModel?.path}}" alt=""
                           style="width: 100%; height: 100%; object-fit: cover; filter: blur(1px);">
                        <div class="text-content">
                           {{imageCount}}<br>Images
                        </div>
                     </div>
                     <div class="thumbnail" (click)="onColors()">
                        <img src="{{productListModel?.path}}" alt=""
                           style="width: 100%; height: 100%; object-fit: cover; filter: blur(1px);">
                        <div class="text-content">
                           {{colorCount}}<br>Colors
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="description">
               <div class="title">
                  <div class="title-text">{{productListModel?.manufacturer}} {{productListModel?.model}}</div>
                  <div class="rating">
                     <img src="assets/images/star-g.svg"
                        *ngFor="let item of [].constructor(productListModel?.ourRating); let i = index">
                     <img src="assets/images/star-w.svg"
                        *ngFor="let item of [].constructor(unSelectRating); let i = index">
                  </div>
               </div>
               <div class="details">
                  <!-- {{productListModel?.additionalFeatures}} -->
                  This variant of {{productListModel?.manufacturer}} {{productListModel?.model}} has a battery capacity of {{productListModel?.batteryCapacity}} and charges in {{productListModel?.chargingTime0To80Perc}}. It offers a maximum range of {{productListModel?.rangeOfVehicle}} and a max speed of {{productListModel?.maxSpeed}}.

               </div>
               <div class="price">Price: {{productListModel?.exShowroomPrice}}</div>
               <!-- <div class="status">Booking Status: <div class="currentStatus">Available</div>
               </div> -->
               <!-- <div>
                  Colours : 4
               </div> -->
            </div>
         </div>
         <div class="specs_booking">
            <div class="specs">
               <div class="tabs">
                  <button class="tablinks" [class.active]="activeTab === 'KeySpecs'" (click)="onTabClick('KeySpecs')">
                     Key Specs
                  </button>
                 
               </div>

               <div id="KeySpecs" class="tabcontent" *ngIf="activeTab === 'KeySpecs'">
                  <div class="grid-container">
                     <div class="grid-item" *ngFor="let item of keySpecs">
                        <img [src]="item.icon" [alt]="item.label" />
                        <span>{{ item.label }}:</span>
                        <span>{{ item.value }}</span>
                     </div>
                  </div>
               </div>               
            </div>

            <div class="booking">
               <h1 class="booking-title">Booking details</h1>
               <table>
                  <tr>
                     <td>Availablity : </td>
                     <td>Available</td>
                  </tr>
                  <tr>
                     <td>Booking Amount : </td>
                     <td>{{productListModel?.bookingPrice}}</td>
                  </tr>
               </table>
               <button class="standard_button booking_button" (click)="open(popup)">Interested in {{productListModel?.model}}</button>
            </div>
         </div>
         <div class="variants-container" id="variantsContainer">
            <h2 class="variants-title">{{productListModel?.manufacturer}} {{productListModel?.model}}'s Varients</h2>
            <table class="variants-table">
               <thead>
                  <tr>
                     <th>Variants</th>
                     <th>Specifications</th>
                     <th>Price</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of varientList" (click)="onVarientClick(item.twId)">
                     <td>
                        <ng-container *ngIf="item.twId === productListModel?.twId; else normalText">
                            <strong>{{item.manufacturer}} {{item.model}} {{item.variant}}</strong>
                        </ng-container>
                        <ng-template #normalText>
                            {{item.manufacturer}} {{item.model}} {{item.variant}}
                        </ng-template>
                    </td>
                     <td>
                        <div class="specs-container">
                           <span>{{item.chargingTime}}, {{item.rangeOfVehicle}}</span>
                        </div>
                     </td>
                     <td>{{item.exShowroomPrice}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="spec-container">
            <h2 class="modelspecs_title">{{productListModel?.manufacturer}} {{productListModel?.model}}'s Specifications</h2>
            <div class="table">
               <div *ngFor="let entry of getProductSpecs()">
                  <div class="spec-row">
                     <div class="spec-label">{{ entry.key }} :</div>
                     <div class="spec-value" style="white-space: pre-line;">{{ entry.value }}</div>
                  </div>
               </div>
            </div>
            <a (click)="onSpecs()" class="view-all-specs">View all Specs &#10145;</a>
         </div>
         <div class="spec-container">
            <h2 class="modelspecs_title">{{productListModel?.manufacturer}} {{productListModel?.model}}'s Features</h2>
            <div class="table">
               <div *ngFor="let entry of getProductFeatures()">
                  <div class="spec-row">
                     <div class="spec-label">{{ entry.key }} :</div>
                     <div class="spec-value" style="white-space: pre-line;">{{ entry.value }}</div>
                  </div>
               </div>
            </div>
            <a (click)="onSpecs()" class="view-all-specs">View all Specs &#10145;</a>
         </div>
         <div class="otherModels">
            <div class="otherModels-title">Other Models like {{productListModel?.manufacturer}}
               {{productListModel?.model}}</div>
            <div class="models">
               <div class="model" *ngFor="let model of nextproductlist" (click)="onVarientClick(model.twId)">
                  <img src="{{model.path}}" alt="Product Image" onerror="this.src='assets/images/pr4.png';">
                  <div class="card-content">
                     <div class="title">{{ model.manufacturer }} {{ model.model }}</div>
                     <p>Price: ₹{{ model.exShowroomPrice }}</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>