<div class="container">
    <div class="grid-layout">
      <div class="main-content" style="min-height: 600px;">  <!-- Adjust height here -->
        <header>
        <h1>{{ title }}</h1>
      </header>
      <section class="introduction">
      <h2>{{ sectionTitle}}</h2>

       <article>
       <p>{{ subSection.content }}</p>
       </article>
    </section>
        <section class="introduction">
        <h2>{{ sectionTitle1 }}</h2>
        <img src="assets/images/blogs/14.jpg" alt="Electric Vehicle" class="img-fluid rounded">
         <article>
         <p>{{ subSection1.content }}</p>
         </article>
      </section>


      <section class="introduction">
        <h2>{{ sectionTitle2 }}</h2>
        <img src="assets/images/blogs/15.jpg" alt="Electric Vehicle" class="img-fluid rounded">
      
         <article>
         <p>{{ subSection2.content }}</p>
         </article>
      </section>

      <section class="introduction">
        <h2>{{ sectionTitle3 }}</h2>
        <img src="assets/images/blogs/16.jpg" alt="Electric Vehicle" class="img-fluid rounded">      
         <article>
         <p>{{ subSection3.content }}</p>
         </article>
      </section>

      <section class="introduction">
        <h2>{{ sectionTitle4 }}</h2>
        <img src="assets/images/blogs/17.jpg" alt="Electric Vehicle" class="img-fluid rounded">      
         <article>
         <p>{{ subSection4.content }}</p>
         </article>
      </section>

      <section class="introduction">
        <h2>{{ sectionTitle5 }}</h2>
        <img src="assets/images/blogs/18.jpg" alt="Electric Vehicle" class="img-fluid rounded">      
         <article>
         <p>{{ subSection5.content }}</p>
         </article>
      </section>

      <section class="introduction">
        <h2>{{ sectionTitle6 }}</h2>
        <img src="assets/images/blogs/19.jpg" alt="Electric Vehicle" class="img-fluid rounded">      
         <article>
         <p>{{ subSection6.content }}</p>
         </article>
      </section>
  
    
    </div>
    <div class="sidebar"> <!-- Adjust height here -->
      <div class="brands-container">
        <div class="brands-header">
          <div>Brands</div>
        </div>
        <div class="brands-content">
          <div class="brands-list">
            <div class="brand-item" *ngFor="let brand of brands" (click)="navigateToBrand(brand.name)">
              <img [src]="brand.image">
              <div class="brand-name">{{brand.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sticky Sidebar (Right Column - 30% width) -->
      <div class="sidebar">  <!-- Adjust height here -->
        <div class="sticky">
          <div class="box">
            <h2 style="color: #6305A8; padding-left: 20px;">Top Vehicles</h2>
          <div class="vehicleBox" *ngFor="let Cll of toptwowheelerlist">
            <img src="{{Cll.path}}" alt="" onerror="this.src='assets/images/pr1.png';" class="image"
               (click)="onSelect(Cll.twId)">
            <div class="infobox" (click)="onSelect(Cll.twId)">
               <div class="vehicle-title" style="font-weight: 600;">{{Cll.manufacturer}} {{Cll.model}}
                  <span>
                     <img src="assets/images/star-g.svg"
                        *ngFor="let item of [].constructor(Cll.selectedRating); let i = index">
                     <img src="assets/images/star-w.svg"
                        *ngFor="let item of [].constructor(Cll.unSelectRating); let i = index">
                  </span>
               </div>
               <p style="color: black;">Rs. {{Cll.exShowroomPrice}} *</p>
            </div>
         </div>
  
         
        </div>
        
      </div>
      </div>
    </div>
  </div>
  