<footer>
    <div class="footerbox ">
       <div class="queryarea">
          <div class="querybox">
             <h4 class=" sectiontitle ">Live Your Dream</h4>
             <form action="" class="form-style ">
                <div class="form-group">
                   <input type="text" class="form-control" id="user-name" required="required">
                   <label for="user-name"> Name</label>
                   <span class="error-text">Enter  Name</span>
                </div>
                <div class="form-group">
                   <input type="text" class="form-control" id="user-mobile" required="required">
                   <label for="user-mobile">Mobile</label>
                   <span class="error-text">Enter Mobile No</span>
                </div>
                <div class="form-group">
                   <textarea class="form-control" rows="5" id="comment" required="required"></textarea>
                   <label for="comment">Query</label>
                   <span class="error-text">Enter Password</span>
                </div>
                <button class="btorng">Submit</button>
             </form>
          </div>
       </div>
       <div class="linkarea">
          <div class="linkbox ">
             <h5>Company</h5>
             <ul>
                <li>
                   <a href="/index.html ">About</a>
                </li>
                <li>
                   <a routerLink="/Bikes" ng-click="footer( 'About Us') ">Bike </a>
                </li>
                <li>
                   <a routerLink="/Cars" ng-click="footer( 'Careers') "> Car</a>
                </li>
                <li>
                   <a href="/terns-conditions.html" ng-click="footer( 'Careers') ">    Other EV</a>
                </li>
                <li>
                   <a href="/contactus.html" ng-click="footer( 'Contact Us') ">Contact Us</a>
                </li>
             </ul>
          </div>
          <div class="linkbox ">
             <h5>Car Brands</h5>
             <ul>
                <li>
                   <a href="/academy.html ">Tata</a>
                </li>
                <li>
                   <a href="/membership.html">Kia</a>
                </li>
                <li>
                   <a href="/events.html">Hyundai</a>
                </li>
                <li>
                   <a href="/events.html"> MG</a>
                </li>
                <li>
                   <a href="/tournaments.html">   Mahindra</a>
                </li>
             </ul>
          </div>
          <div class="linkbox">
             <h5>Bike Brands</h5>
             <ul>
                <li>
                   <a href="/techsolutions.html">Hero</a>
                </li>
                <li>
                   <a href="/infrastructureconsultancy.html">Ola
                   </a>
                </li>
                <li>
                   <a href="/direction.html"> Ampere
                   </a>
                </li>
                <li>
                   <a href="/gallery.html">Ather</a>
                </li>
                <li>
                   <a href="/gallery.html">TVS</a>
                </li>
             </ul>
          </div>
          <div class="socialarea">
           <div class="socialbx">  <a href="#">
                <svg class="wow animated">
                   <use xlink:href="#facebook"></use>
                </svg>
             </a>
             <a href="#">
                <svg class="wow animated">
                   <use xlink:href="#twitter"></use>
                </svg>
             </a>
             <a href="#">
                <svg class="wow animated">
                   <use xlink:href="#instagram"></use>
                </svg>
             </a>
             <a href="#">
                <svg class="wow animated">
                   <use xlink:href="#youtube"></use>
                </svg>
             </a></div>
             <div class="callbx"><svg class="wow animated">
               <use xlink:href="#call"></use>
            </svg><span>999999999</span></div>
          </div>
          <div class="disclaimerarea"><span> © Copyright {{currentDateYear.getFullYear()}} weev.co.in </span></div>
       </div>
    </div>
 </footer>
