<section>
    <div class="headingarea ">
      

           <ol class="breadcrumb">
               <li><a  routerLink="">Home</a></li>
               <li class="las la-angle-righ"><span>{{title}}</span></li>
           </ol>
     
       <h1 class="pagehead">{{title}}
       </h1>
       <h6 class="pagesub">
          There are 299 electric bikes/motorcycles currently on sale from various manufacturers like Ather, Ola, TVS and many more starting from Rs 25,000. The most popular products under this bracket are the Ola S1(Rs. 84,999), Ather 450X(Rs. 1.19 Lakh)
       </h6>
   </div>

   
    <div class="line"></div>
 </section>

 <section>
    <div class="landingarea" >
     
       <div class="vehiclboxl" *ngFor="let Cll of twowheelerlist">
         
          <img src="{{Cll.path}}" alt="" onerror="this.src='assets/images/pr1.png';"
          class="image" (click)="onSelect(Cll.twId)">
          <div class="infobx" (click)="onSelect(Cll.twId)" >
           <h4> {{Cll.manufacturer}} {{Cll.model}}</h4> 
           <p>Rs. {{Cll.exShowroomPrice}} *</p>
          <span>
             <img src="assets/images/star-g.svg" *ngFor="let item of [].constructor(Cll.selectedRating); let i = index">
             
             <img src="assets/images/star-w.svg" *ngFor="let item of [].constructor(Cll.unSelectRating); let i = index">
          </span>
          </div>
       <div class="icobx">
          <a href="" class="share">
          </a>
          <a href="" class="heart">
          </a>
       </div>
        
       </div>
        </div>
    <div class="line"><a href="">more</a></div>
 </section>