<section>
   <div class="headingarea ">
      

      <h1 class="pagehead">{{title}}
      </h1>
      
   </div>
   
</section>

<div class="bikes-landingarea">   
   <div *ngIf="loading" class="loading">
      <div class="loader"></div>
   </div>
   <div *ngIf="!loading" class="landingarea">
      <div class="vehicleBox" *ngFor="let Cll of filteredtwowheelerlist">
         <img src="{{Cll.path}}" alt="" onerror="this.src='assets/images/pr1.png';" class="image"
            (click)="onSelect(Cll.twId)">
         <div class="infobox" (click)="onSelect(Cll.twId)">
            <h4>{{Cll.manufacturer}} {{Cll.model}}</h4>
            <p>Rs. {{Cll.exShowroomPrice}}</p>
            <span>
               <img src="assets/images/star-g.svg"
                  *ngFor="let item of [].constructor(Cll.selectedRating); let i = index">
               <img src="assets/images/star-w.svg"
                  *ngFor="let item of [].constructor(Cll.unSelectRating); let i = index">
            </span>
         </div>
      </div>
   </div>
</div>
